<html>
    <head>
        <title>EADC Practical 3</title>
        <style>
            div 
            {
             position: fixed;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: -1;
          
          color:#A9F131  ;
          font-size: 25px;
          font-weight: 500px;
          display: grid;
          justify-content: center;
          align-content: center;
          opacity: 0.2;
          transform: rotate(-45deg);
            }
        </style>
    </head>
<body bgcolor="#8F00A0">
    <center>
<div id="watermark" >Pratham Shah 20162101018</div>
<h1>This is a Flask app deployed on IBM Cloud using Cloud Foundry. </h1>
</center>
</body>
</html>